@media (min-width: 1200px)
{
  .container {
    width: 970px;
  }
}

.container {
  /*min-width: 970px;*/
}

.login-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}

.login-title > h4 small{
  font-size: inherit;
  font-weight: 700;
  color: inherit;
}
 .login-form:before {
    content: "";
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #eceff1 transparent transparent;
    height: 0px;
    position: absolute;
    left: -12px;
    top: 35px;
    width: 0;
    -webkit-transform: rotate(360deg); }

.login-form .login-field {
  width: 310px;
  padding: 5px;

}

.login-form .login-field-icon {
    color: #bfc9ca;
    font-size: 20px;
    position: absolute;    
    top: 14px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }