 <footer>
               <div class="footer-banner">
                   <h3 class="footer-title">Gamebook</h3>
                   <p>Copyright © 2015.Company name All rights reserved.</p>
                   <p><a href="/">首页</a></p>
              </div>
        
 </footer>