<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/css/flat-ui.css" rel="stylesheet">
    
    <link href="/css/icons.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  </head>
  <body>

    <% include header.ejs %>
   
    <div class="container">
        <div>
             <blockquote>
                    <span class="icon-price-tag"></span>&nbsp;
                    <button class="btn btn-primary btn-sm btn-embossed">恐怖</button>
                    <button class="btn btn-info btn-sm btn-embossed">恋爱</button>
                    <button class="btn btn-danger btn-sm btn-embossed">我喜欢去扑街</button>
  
             </blockquote>
        </div>
        <div>
                    <!-- Projects Row -->
                    <div class="gamebox-list">
                    
                        <div class="portfolio-item gamebox-item col-md-6">
                            <a href="#">
                                <img class="img-responsive" src="http://i1.tietuku.com/bbc83ef930971165.jpg" alt="">
                            </a>
                            <h3>
                                <a href="#">张三的故事</a>
                            </h3>
                            <p>
                                 <span class="recommended-level">
                                         <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-empty"></span><span class="icon-star-empty"></span>
                                 </span>
                               <span class="tag-group">
                                    <span class="label label-danger">恋爱</span>
                                    <span class="label label-info">恐怖</span>
                               </span>
                            </p>
                            <p><span class="icon-calendar"></span>&nbsp;2014.11.10&nbsp;&nbsp;&nbsp;<span class="icon-bubble"></span>&nbsp;10&nbsp;&nbsp;<span class="icon-user"></span>&nbsp;巨屌侠</p>
                            <p><span class="icon-quotes-left"></span>&nbsp;&nbsp;张三有些小秘密，他喜欢上了隔壁工位的王铁蛋，却不敢去泡,因为王铁蛋太帅太美丽，张三一直觉得配不上他因为张三的菊花并不紧俏</p>

                        </div>
                         <div class="portfolio-item gamebox-item col-md-6">
                            <a href="#">
                                <img class="img-responsive" src="http://i1.tietuku.com/d836cac7f922d62as.jpg" alt="">
                            </a>
                            <h3>
                                <a href="#">小明和小红不得不说的二三事</a>
                            </h3>
                            <p>
                                 <span class="recommended-level">
                                         <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-empty"></span><span class="icon-star-empty"></span>
                                 </span>
                               <span class="tag-group">
                                    <span class="label label-success">基佬</span>
                               </span>
                            </p>
                            <p><span class="icon-calendar"></span>&nbsp;2014.11.10&nbsp;&nbsp;&nbsp;<span class="icon-bubble"></span>&nbsp;10&nbsp;&nbsp;<span class="icon-user"></span>&nbsp;巨屌侠</p>
                            <p><span class="icon-quotes-left"></span>&nbsp;&nbsp;遇见小红的第一天，小明已经觉得全世界只有两个人，一个是他自己还有一个是他的小屌。小红的难看是很难用言语形容的</p>

                        </div>
                        
                    </div>
                    <!-- /.row -->
        </div>
<!--         <% include pagination.ejs %> -->
    </div>
    <br/><br/>
    <% include footer.ejs %>

    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/flat-ui.min.js"></script>

    <script src="/js/app.js"></script>
    <script>
        Gamebook.init()
    </script>

  </body>
</html>
