<div class="pagination pagination-minimal container">
            <ul>
              <li class="previous"><a href="#fakelink" class="icon-arrow-left"></a></li>
              <li class="active"><a href="#fakelink">1</a></li>
              <li><a href="#fakelink">2</a></li>
              <li><a href="#fakelink">3</a></li>
              <li><a href="#fakelink">4</a></li>
              <li><a href="#fakelink">5</a></li>
              <li><a href="#fakelink">6</a></li>
              <li class="next"><a href="#fakelink" class="icon-arrow-right"></a></li>
            </ul>
</div>